* { 
    margin: 0;
    padding: 0
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    grid-template-areas: 
        "navigation-bar navigation-bar"
        "header-image header-image"
        "header header"
        "content content"
        "footer footer";
}

.navigation-bar {
    grid-area: navigation-bar;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "navigation-button-home"
        "navigation-button-info"
        "navigation-button-agenda"
        "navigation-button-media"
        "navigation-button-members"
        "navigation-button-contact";
    
    background-color: rgb(85,117,71);
    
    font-family: "Tahoma";
    font-size: 17px;
}

.navigation-button {
    padding: 5px;
    align-self: center;
    text-align: center;
    color: white;
}

.navigation-button:hover {
    background-color: white;
    color: rgb(85,117,71);
}

.navigation-button-home {
    grid-area: navigation-button-home;
}

.navigation-button-info {
    grid-area: navigation-button-info;
}

.navigation-button-agenda {
    grid-area: navigation-button-agenda;
}

.navigation-button-media {
    grid-area: navigation-button-media;
}

.navigation-button-members {
    grid-area: navigation-button-members;
}

.navigation-button-contact {
    grid-area: navigation-button-contact;
}

.header-image {
    grid-area: header-image;
    width: 100%;
/*    background-color: rgb(85,117,71);*/
}

.header {
    grid-area: header;
    
    padding: 5px;
    
    background-color: rgb(85,117,71);
    
    font-family: "Tahoma";
    font-size: 17px;
    color: white;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/*
@media screen and (min-width: 736px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". navigation-bar navigation-bar ."
        ". header header ."
        ". sidebar content ."
        ". footer footer .";
    }

}*/
