* { 
    margin: 0;
    padding: 0
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto auto auto;
    grid-template-areas: 
        "navigation-bar navigation-bar"
        "header-image header-image"
        "header header"
        "introduction introduction"
        "calendar calendar"
        "footer footer";
}

.navigation-bar {
    grid-area: navigation-bar;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "navigation-button-home"
        "navigation-button-info"
        "navigation-button-agenda"
        "navigation-button-media"
        "navigation-button-members"
        "navigation-button-contact";
    
    background-color: rgb(85,117,71);
    
    font-family: "Tahoma";
    font-size: 17px;
}

.navigation-button {
    padding: 5px;
    align-self: center;
    text-align: center;
    color: white;
}

.navigation-button:hover {
    background-color: white;
    color: rgb(85,117,71);
}

.navigation-button-home {
    grid-area: navigation-button-home;
}

.navigation-button-info {
    grid-area: navigation-button-info;
}

.navigation-button-agenda {
    grid-area: navigation-button-agenda;
}

.navigation-button-media {
    grid-area: navigation-button-media;
}

.navigation-button-members {
    grid-area: navigation-button-members;
}

.navigation-button-contact {
    grid-area: navigation-button-contact;
}

.header-image {
    grid-area: header-image;
    width: 100%;
}

.header {
    grid-area: header;
    
    padding: 5px;
    
    background-color: rgb(85,117,71);
    
    font-family: "Tahoma";
    font-size: 17px;
    color: white;
    text-align: center;
}

.introduction {
    grid-area: introduction;
    
    font-family: "Tahoma";
    font-size: 17px;
    color: rgb(85,117,71);
}

.introduction-quote {
    padding: 15px;
    text-align: center;
}

.introduction-text {
    padding: 15px;
}

.calendar {
    grid-area: calendar;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "calendar-title"
        "calendar-grid";
    
    font-family: "Tahoma";
    font-size: 17px;
    color: rgb(85,117,71);
}

.calendar-title {
    grid-area: calendar-title;
    padding: 15px;
    background-color: rgb(85,117,71);
    color: white;
}

.calendar-grid {
    grid-area: calendar-grid;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-auto-rows: auto auto;
    grid-template-areas: 
        "calendar-event-date calendar-event-what"
        ".  calendar-event-where";
    
    padding: 5px 15px 5px 15px;
    
    font-size: 17px;    
}

.calendar-event-date {
    grid-area: calendar-event-date;
}

.calendar-event-what {
    grid-area: calendar-event-what;
}

.calendar-event-where {
    grid-area: calendar-event-where;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*
@media screen and (min-width: 736px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". navigation-bar navigation-bar ."
        ". header header ."
        ". sidebar content ."
        ". footer footer .";
    }

}*/
