* { 
    margin: 0;
    padding: 0
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto auto auto auto;
    grid-template-areas:
        "navigation-bar-collapsible"
        "navigation-bar-items"
        "header-image"
        "header"
        "introduction"
        "calendar"
        "media"
        "footer";
}

.navigation-bar {
    background-color: rgb(85,117,71);
}

.navigation-bar-collapsible {
    grid-area: navigation-bar-collapsible;

  background-color: rgb(85,117,71);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.active, .navigation-bar-collapsible:hover {
  background-color: rgb(85,117,71);
}

.navigation-bar-collapsible:after {
    background-color: rgb(85,117,71);
    
    content: '\2630';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
  content: "\01D5EB";
}

.navigation-bar-items {
    grid-area: navigation-bar-items;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "navigation-button-home"
        "navigation-button-info"
        "navigation-button-agenda"
        "navigation-button-media"
        "navigation-button-members"
        "navigation-button-contact";
    
    background-color: rgb(85,117,71);
    
    max-height: 0;
    transition: max-height 250ms ease-out;
    font-family: "Tahoma";
    font-size: 17px;
}

.navigation-button {
    padding: 5px;
    align-self: center;
    text-align: center;
    color: white;
}

.navigation-button:hover {
    background-color: white;
    color: rgb(85,117,71);
}

.navigation-button-home {
    grid-area: navigation-button-home;
}

.navigation-button-info {
    grid-area: navigation-button-info;
}

.navigation-button-agenda {
    grid-area: navigation-button-agenda;
}

.navigation-button-media {
    grid-area: navigation-button-media;
}

.navigation-button-members {
    grid-area: navigation-button-members;
}

.navigation-button-contact {
    grid-area: navigation-button-contact;
}

.header-image {
    grid-area: header-image;
    width: 100%;
}

.header {
    grid-area: header;
    
    padding: 5px;
    
    background-color: rgb(85,117,71);
    
    font-family: "Tahoma";
    font-size: 17px;
    color: white;
    text-align: center;
}

.introduction {
    grid-area: introduction;
    
    font-family: "Tahoma";
    font-size: 17px;
    color: rgb(85,117,71);
}

.introduction-quote {
    padding: 15px;
    text-align: center;
}

.introduction-text {
    padding: 15px;
}

.sub-title {
    padding: 15px;
    background-color: rgb(85,117,71);
    color: white;
}

.calendar {
    grid-area: calendar;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "calendar-title"
        "calendar-grid";
    
    font-family: "Tahoma";
    font-size: 17px;
    color: rgb(85,117,71);
}

.calendar-title {
    grid-area: calendar-title;
}

.calendar-grid {
    grid-area: calendar-grid;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "calendar-event-date calendar-event-what"
        ".  calendar-event-where";
    
    padding: 5px 15px 5px 15px;
    
    font-size: 17px;    
}

.calendar-event-date {
    grid-area: calendar-event-date;
}

.calendar-event-what {
    grid-area: calendar-event-what;
}

.calendar-event-where {
    grid-area: calendar-event-where;
    padding-top: 5px;
    padding-bottom: 10px;
}

.media {
    grid-area: media;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas:
        "media-title"
        "images"
        "audio"
        "video";        
    
    font-family: "Tahoma";
    font-size: 17px;
    color: rgb(85,117,71);
    
/*    justify-content: center;*/
}

.media-title {
    grid-area: media-title;
    margin-bottom: 15px;
}

.images {
    grid-area: images;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "media-grid-image-1 media-grid-image-2"
        "media-grid-image-3 media-grid-image-4";
    
    justify-content: center;
    align-content: center;
}

.images img:nth-child(odd) {
    margin-left: auto;
}

.images img:nth-child(even) {
    margin-right: auto;
}

.media-image {
    width: auto;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
}

.media-image:hover {
    border-color: purple;
}

.media-grid-image-1 {
    grid-area: media-grid-image-1;
}

.media-grid-image-2 {
    grid-area: media-grid-image-2;
}

.media-grid-image-3 {
    grid-area: media-grid-image-3;
}

.media-grid-image-4 {
    grid-area: media-grid-image-4;
}

.audio {
    grid-area: audio;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "audio-grid-fragment-1 audio-grid-fragment-2 audio-grid-fragment-3"
        "audio-player audio-player audio-player";
    
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.audio-fragment {
    text-align: center;
    
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
    background-color: rgb(85,117,71);
    color: white;
}

.audio-fragment:hover {
    background-color: purple;
}

.audio-fragment p {
    width: 100px;
    height: 100px;
    
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    
    font-size: 14px;
}

.audio-grid-fragment-1 {
    grid-area: audio-grid-fragment-1;
}

.audio-grid-fragment-2 {
    grid-area: audio-grid-fragment-2;
}

.audio-grid-fragment-3 {
    grid-area: audio-grid-fragment-3;
}

.audio-player {
    grid-area: audio-player;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.video {
    grid-area: video;
    margin-top: 25px;
}

.video-player {
    width: 100%;
    height: 315px;
/*    display: block;*/
/*    margin: 0 auto;*/
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "footer-title footer-mail"
        "footer-telephone footer-telephone"
        "footer-social footer-social"; 
    
    font-family: "Tahoma";
    font-size: 17px;
    background-color: rgb(85,117,71);
}

.footer-title {
    grid-area: footer-title;
}

.footer-mail {
    grid-area: footer-mail;
    text-align: right;
}

.footer-telephone {
    grid-area: footer-telephone;
    text-align: right;
}

.footer-social {
    grid-area: footer-social;
    text-align: right;
}



/*
@media screen and (min-width: 736px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". navigation-bar navigation-bar ."
        ". header header ."
        ". sidebar content ."
        ". footer footer .";
    }

}*/
